<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Train To Gain</title>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/superhero/bootstrap.min.css"
	integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO"
	crossorigin="anonymous">
</head>
<body id="homeBgrImg">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarColor03"
				aria-controls="navbarColor03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" data-bs-toggle="tab"
						href="/accueil">Accueil</a></li>

					<li class="nav-item"><a class="nav-link" href="/gymnase/liste">Gymnases</a></li>
					<li class="nav-item"><a class="nav-link" href="/login">LOG IN</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br/>
	<h1 style="color:white">Train to gain !</h1>
	<h3 style="color:white; font-style:italic">Trouver le gymnase le plus adapté pour pratiquer votre sport en Seine-Saint-Denis</h3>
</body>
</html>